@font-face {
  font-family: 'ranchino_script_bold_personRg';
  src: url('./assets/ranchinoscriptbold_personal_use_only.woff2') format('woff2'),
       url('./assets/ranchinoscriptbold_personal_use_only.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}